nav { background-color: #4da6ff;
	  border: 2px solid black;
	  border-radius: 25px;
	  top: -5px;
      margin-bottom: 50px;
	  padding: 20px;
	  width: 100%;
	  text-align: center;
	  
	}
nav:hover { background-color: #ddd; }

#text{	text-align:center;
		color:black;}


body{overflow-x:hidden;}

.dropdown {
    position: relative;
    display: inline-block;
	left:45%;

	
	}
	

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ff9933;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

span{ 
		float:middle;}
	
	