nav { background-color: #4da6ff;
	  border: 2px solid black;
	  border-radius: 25px;
	  top: -5px;
      margin-bottom: 50px;
	  padding: 20px;
	  width: 100%;
	  text-align: center;
	  
	}
nav:hover { background-color: #ddd; }

body{overflow-x:hidden;}

ul>li { font-size: 1.2em;}